@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(12deg);
  }
  50% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  height: 8rem;
  padding: 2rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-bottom: 2px dashed #c0c0c0;
}
@media only screen and (max-width:600px) {
  nav {
    padding: 0;
    height: 9rem;
  }
}
nav .nav-links {
  width: 800px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
nav .nav-links .logo {
  font-size: 2.5rem;
}
nav .nav-links .logo:hover {
  animation-name: tdDropInLeft;
  animation-duration: 500ms;
  animation-delay: 80ms;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
@media only screen and (max-width:600px) {
  nav .nav-links {
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
  }
}
nav .nav-links ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-bottom: 1rem;
}
nav .nav-links ul li {
  font-size: 1.6rem;
  margin-top: 1rem;
  padding-left: 4rem;
  color: #212529;
}
nav .nav-links ul li:hover {
  color: #9ba5ae;
  animation-name: tilt;
  animation-duration: 500ms;
  animation-delay: 10ms;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #ffebcd;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .header {
  border-bottom: 2px dashed #c0c0c0;
}
.home .header .intro {
  padding: 1%;
}
.home .header .intro h1 {
  padding-top: 1%;
  padding-bottom: 1%;
}
@media only screen and (max-width:600px) {
  .home .header .intro {
    width: 95%;
    padding-left: 5%;
  }
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width:600px) {
  .home .content-section {
    justify-content: center;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media only screen and (max-width:600px) {
  .home .content-section .text-content {
    width: 90%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media only screen and (max-width:600px) {
  .home .content-section .img-content {
    width: 90%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #c0c0c0;
}
@media only screen and (max-width:600px) {
  .home .inverse-content {
    flex-direction: column-reverse;
    padding-left: 5%;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media only screen and (max-width:600px) {
  .home .content-destination {
    width: 90%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #c0c0c0;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width:600px) {
  .home .content-pick {
    flex-direction: column;
    align-items: center;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
.home .content-pick .destination .btn {
  width: 90%;
  height: 4rem;
  padding: 1.25rem;
  color: #ffffff;
  background-color: #17a2b8;
  font-size: 1.8rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}
.home .content-pick .destination .btn:hover {
  animation-duration: 500ms;
  animation-delay: 10ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-name: tdZoomOut;
}
@media only screen and (max-width:600px) {
  .home .content-pick .destination {
    margin-left: 5%;
    width: 70%;
  }
}
/* ======================================== */
/* ==== tuesday.less ====================== */
/* ==== A quirky CSS Animation Library ==== */
/* ======================================== */
.animated {
  animation-duration: 0.4s;
  animation-fill-mode: both;
}
@keyframes tdFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tdFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.tdFadeIn {
  animation-name: tdFadeIn;
}
.tdFadeOut {
  animation-name: tdFadeOut;
}
@keyframes tdFadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes tdFadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(10px);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes tdFadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes tdFadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-10px);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes tdFadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
@keyframes tdFadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}
@keyframes tdFadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
@keyframes tdFadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  100% {
    opacity: 0;
    transform: translateX(-10px);
  }
}
.tdFadeInDown {
  animation-name: tdFadeInDown;
}
.tdFadeInLeft {
  animation-name: tdFadeInLeft;
}
.tdFadeInUp {
  animation-name: tdFadeInUp;
}
.tdFadeInRight {
  animation-name: tdFadeInRight;
}
.tdFadeOutUp {
  animation-name: tdFadeOutUp;
}
.tdFadeOutRight {
  animation-name: tdFadeOutRight;
}
.tdFadeOutDown {
  animation-name: tdFadeOutDown;
}
.tdFadeOutLeft {
  animation-name: tdFadeOutLeft;
}
@keyframes tdExpandIn {
  0% {
    opacity: 0;
    transform: scale(0.85);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes tdExpandInBounce {
  0% {
    opacity: 0;
    transform: scale(0.85);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  70% {
    transform: scale(1.03);
    animation-timing-function: ease;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    animation-timing-function: ease;
  }
}
@keyframes tdExpandOut {
  0% {
    opacity: 1;
    transform: scale(1);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
@keyframes tdExpandOutBounce {
  0% {
    opacity: 1;
    transform: scale(1);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  30% {
    opacity: 1;
    transform: scale(0.95);
    animation-timing-function: ease;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
@keyframes tdShrinkIn {
  0% {
    opacity: 0;
    transform: scale(1.2);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes tdShrinkInBounce {
  0% {
    opacity: 0;
    transform: scale(1.2);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  70% {
    transform: scale(0.95);
    animation-timing-function: ease;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes tdShrinkOut {
  0% {
    opacity: 1;
    transform: scale(1);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  100% {
    opacity: 0;
    transform: scale(0.85);
    animation-timing-function: ease;
  }
}
@keyframes tdShrinkOutBounce {
  0% {
    opacity: 1;
    transform: scale(1);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  30% {
    opacity: 1;
    transform: scale(1.03);
    animation-timing-function: ease;
  }
  100% {
    opacity: 0;
    transform: scale(0.85);
    animation-timing-function: ease;
  }
}
.tdExpandIn {
  animation-name: tdExpandIn;
}
.tdExpandInBounce {
  animation-name: tdExpandInBounce;
}
.tdExpandOut {
  animation-name: tdExpandOut;
}
.tdExpandOutBounce {
  animation-name: tdExpandOutBounce;
}
.tdShrinkIn {
  animation-name: tdShrinkIn;
}
.tdShrinkInBounce {
  animation-name: tdShrinkInBounce;
}
.tdShrinkOut {
  animation-name: tdShrinkOut;
}
.tdShrinkOutBounce {
  animation-name: tdShrinkOutBounce;
}
@keyframes tdStampIn {
  0% {
    opacity: 0;
    transform: scale(1.3);
    animation-timing-function: cubic-bezier(0.59, 0, 1, 0.375);
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes tdStampInSwing {
  0% {
    opacity: 0;
    transform: scale(1.3) rotate(-10deg);
    animation-timing-function: cubic-bezier(0.59, 0, 1, 0.375);
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}
.tdStampIn {
  animation-name: tdStampIn;
}
.tdStampInSwing {
  animation-name: tdStampInSwing;
}
@keyframes tdSwingIn {
  0% {
    opacity: 0;
    transform: rotate(-10deg) scale(0.85);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  70% {
    opacity: 1;
    transform: rotate(1deg);
    animation-timing-function: ease;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    animation-timing-function: ease;
  }
}
@keyframes tdSwingOut {
  0% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  30% {
    opacity: 1;
    transform: rotate(-1deg);
    animation-timing-function: ease;
  }
  100% {
    opacity: 0;
    transform: rotate(10deg) scale(0.85);
    animation-timing-function: ease;
  }
}
.tdSwingIn {
  animation-name: tdSwingIn;
}
.tdSwingOut {
  animation-name: tdSwingOut;
}
@keyframes tdHingeFlipIn {
  0% {
    opacity: 0;
    transform: perspective(600px) rotateX(0deg);
    transform-origin: center top;
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  50% {
    transform: perspective(600px) rotateX(-10deg);
    transform-origin: center top;
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
    transform-origin: center top;
    animation-timing-function: ease-out;
  }
}
@keyframes tdHingeFlipOut {
  0% {
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
    transform-origin: center top;
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  50% {
    transform: perspective(600px) rotateX(-10deg);
    transform-origin: center top;
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 0;
    transform: perspective(600px) rotateX(0deg);
    transform-origin: center top;
    animation-timing-function: ease-out;
  }
}
.tdHingeFlipIn {
  animation-name: tdHingeFlipIn;
}
.tdHingeFlipOut {
  animation-name: tdHingeFlipOut;
}
@keyframes tdDropInLeft {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
    transform: rotate(2deg) translateY(-15px);
    transform-origin: right bottom;
    animation-timing-function: ease-in;
  }
  50% {
    opacity: 1;
    transform: rotate(0) translateY(0px);
    transform-origin: right bottom;
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(-0.5deg) translateY(0px);
    transform-origin: left bottom;
    animation-timing-function: cubic-bezier(0.59, 0, 1, 0.375);
  }
  100% {
    opacity: 1;
    transform: rotate(0) translateY(0px);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
}
@keyframes tdDropInRight {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
    transform: rotate(-2deg) translateY(-15px);
    transform-origin: left bottom;
    animation-timing-function: ease-in;
  }
  50% {
    opacity: 1;
    transform: rotate(0) translateY(0px);
    transform-origin: left bottom;
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(0.5deg) translateY(0px);
    transform-origin: right bottom;
    animation-timing-function: cubic-bezier(0.59, 0, 1, 0.375);
  }
  100% {
    opacity: 1;
    transform: rotate(0) translateY(0px);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
}
.tdDropInLeft {
  animation-name: tdDropInLeft;
}
.tdDropInRight {
  animation-name: tdDropInRight;
}
@keyframes tdPlopIn {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  10% {
    opacity: 1;
    transform: scale(0.7, 1.3);
  }
  70% {
    transform: scale(1.1, 0.95);
  }
  90% {
    transform: scale(0.97, 1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes tdPlopInDown {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.8);
    transform-origin: center top;
  }
  10% {
    opacity: 1;
    transform: scale(0.8, 1.3);
    transform-origin: center top;
  }
  70% {
    transform: scale(1, 0.95);
    transform-origin: center top;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform-origin: center top;
  }
}
@keyframes tdPlopInUp {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.8);
    transform-origin: center bottom;
  }
  10% {
    opacity: 1;
    transform: scale(0.8, 1.3);
    transform-origin: center bottom;
  }
  70% {
    transform: scale(1, 0.95);
    transform-origin: center bottom;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform-origin: center bottom;
  }
}
.tdPlopIn {
  animation-name: tdPlopIn;
}
.tdPlopInDown {
  animation-name: tdPlopInDown;
}
.tdPlopInUp {
  animation-name: tdPlopInUp;
}
@keyframes tdZoomOut {
  0% {
    opacity: 1;
    transform: scale(0.85);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  100% {
    opacity: .9;
    transform: scale(1.2);
  }
}
.tdZoomOut {
  animation-name: tdZoomOut;
}
