// Mixins in here
.button(){
        width: 90%;
        height: 4rem;
        padding: 1.25rem;
        color: @button-link;
        background-color: @button-bg;
        font-size: 1.8rem;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        &:hover{
                .animated;
                .tdZoomOut;
        }
}

.animation (@duration: 300ms, @delay: 0, @ease: ease) {
        animation-name: tilt;
        animation-duration: @duration;
        animation-delay: @delay;
        animation-timing-function: @ease;
}
@keyframes tilt{
        0% { 
            transform: rotate(0deg);
        }
        40% {
            transform: rotate(12deg);
        }
        50% { 
            transform: rotate(10deg);
        }
        90% {
            transform: rotate(-2deg);    
        }
        100% {
            transform: rotate(0deg);
        }
}