// Navigation Styles here
nav {
<<<<<<< HEAD
    height: 8rem;
    padding: 2rem;
    background-color: @nav-color;
    display: flex;
    justify-content: center;
    border-bottom: 2px dashed @navigation-border;
    .nav-links {
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        ul {
            display: flex;
            justify-content: flex-end;
            list-style: none;
            margin-bottom: 1rem;
            li {
                font-size: 2.5rem;
                margin-top: 1rem;
                padding-left: 4rem;
                color: @link-color;

                &:hover {
                    color: lighten(@link-color, 80%);
                }
=======
    height: 3.5rem;
    background-color: @shark;
    .logo {
        font-size: 3rem;
    }
    .nav-links {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin-bottom: 1rem;
        li {
            margin-top: 1rem;
            padding-right: 1rem;
            color: @link-color;

            &:hover {
                color: lighten(@link-color, 15%);
>>>>>>> 4203e7118632b59fac735a7b4e59b8939e8c8579
            }
        }
    }
}